@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import "_variables";
@import "_mixins";

@import "header";
@import "section-benefits";
@import "section-our-info";
@import "section-example";
@import "section-reviews";
@import "footer";


.section-outer {
  padding: 0 20px;
}

.section-inner {
  max-width: 1100px;
  margin: 0 auto;
}

.App{
  font-family: 'Roboto', sans-serif;
}





